html {
  font-family: 'Oswald', sans-serif !important;
}
p, li, a {
  font-weight: lighter !important;
}

.fullwidth-section {
  min-height: 100vh;
  display: flex;
  padding: 0 !important;
}

@media (min-width: 992px) {
  p, li {
    font-size: 1.2em;
  }
  .left-accent-border {
    border-left: 3em solid #345474 !important;
  }
  .right-accent-border {
    border-right: 3em solid #345474 !important;
  }
  .bottom-accent-border {
    border-bottom: 3em solid #345474 !important;
  }
}

.left-accent-border {
  border-left: 1em solid #345474;
}
.right-accent-border {
  border-right: 1em solid #345474;
}
.bottom-accent-border {
  border-bottom: 1em solid #345474;
}
.accent-line {
  background: #345474;
  height: 0.5em;
}

.vertical-center-in-flex {
  margin-top: auto;
  margin-bottom: auto;
}

.cta-btn {
  background: #345474;
  border-radius: 0;
  border: none;
}
.cta-btn:hover {
  background: #2f4d69;
  border-radius: 0;
  border: none;
}

.section-title {
  font-weight: bolder;
  font-size: 3em;
  text-transform: uppercase;
}

/* Header */
#header-logo {
  width: 46pt;
  height: 46pt;
}
#header-section {
  background-image: url("./img/header_section_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#header-content {
  padding: 4em 5%;
  color: white;
}
@media (min-width: 992px) {
  #header-title {
    font-size: 5em;
  }
  #header-subtitle {
    font-size: 2em;
  }
}
@media (max-width: 992px) {
  #header-title {
    font-size: 3em;
  }
  #header-subtitle {
    font-size: 1.2em;
  }
}
#header-title {
  font-weight: bolder;
  text-transform: uppercase;
}
#header-subtitle {
  font-weight: lighter;
  text-transform: uppercase;
}

/* Mission */
#mission-content {
  padding: 2em;
}
#mission-img {
  background: url("./img/mission_bar.jpeg") no-repeat;
  background-size: cover;
}

/* Impact */
#impact-content {
  width: 100%;
  padding: 2em;
}
#impact-text {
  text-align: center;
  max-width: 60%;
}

/* Team */
#team-content {
  width: 100%;
  padding: 4em 2em;
}
#team-title-section {
  padding: 1em;
}
.person-item {
  padding: 2em;
}
.person-img {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  object-fit: cover;
  object-position: center center;
}
.person-description-text-section {
  margin-top: 1em;
}
.person-name {
  text-align: center;
  text-transform: uppercase;
}
.person-description {
  font-size: 1em;
}

/* Contact */
#contact-section {
  background: url("./img/contact_background.jpeg") no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  #contact-content {
    padding: 5em;
  }
}
@media (max-width: 992px) {
  #contact-content {
    padding: 2em;
  }
}
#contact-content {
  width: 100%;
  color: white;
}
#contact-header {
  display: inline-block;
}
.contact-btn-container {
  margin: auto;
}